@{
    ViewBag.Title = "Home Page";
}

<div @*class="jumbotron"*@ align ="center">
    <br /> <br /> 
    <h1>Bug Stalker</h1>
    
    <p><img src="~/Images/leopard-gecko-yellow-head.jpg" align="middle"/></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1> </h1>
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>